@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300;400&family=Josefin+Sans&display=swap');

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 600px;
    background: linear-gradient(to right, #9c6263, #c6a3a8);

}



p {
    font-family: Alegreya Sans SC;
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    color: #000000;
}

section {
    text-align: center;
}

.word {
    border: none;
    border-bottom: 2px solid #513335;
    background-color: transparent;
    color: #513335;
    outline: none;
}

.word::placeholder {
    font-family: Alegreya Sans SC;
    font-size: 15px;
    color: #513335;
}

button {
    font-family: Alegreya Sans SC;
    font-size: 15px;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    color: whitesmoke;
    background-color: #513335;
    border: #513335;
    border-radius: 10%;
}

footer {
    padding-top: 200px;
    display: flex;
    justify-content: flex-end
}

footer>a {
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    font-family: Josefin Sans;
    font-size: 15px;

}